.main-tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.liquidos-flex{
    margin: 2rem auto;
    display: flex;
    width: 70rem;
    justify-content: center;    
    
  
}

.liquidos-info{
    margin-right: 3rem;
    justify-content: center;

}
